
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
    
}





#randomDogs{
    border: 1px solid red;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}

#uploadingMichi {
    border: 1px solid red;
}

#favoriteMichis{
    border: 1px solid red;
    height: 550px;
}