* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

:root{
    --colorA: #33678a;
    --colorB: #78a6c9;
    --colorC: #eaeff3;
    --colorD: #e65c4f;
}

/*Desktop*/

body{
    background-color: var(--colorB);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--colorA);
    position: fixed;
    height: 90px;
    width: 100%;
}

.logo{ 
    width: 200px;
    margin: 10px 0 0 40px;
    object-fit: contain;
}
.header-title{
    margin: 0 auto;
    font-size: 4.4rem;
    color: var(--colorC);
}
.header-mainButton{
    border: none;
    margin-right: 18px;
    font-size: 42px;
    background: none;
    cursor: pointer;
    color: var(--colorC);
    display: none;
}
.mainButton-nav {
    background-color: #0f1d27;
    position: absolute;
    top: 90px;
    right: 0%;
    width: 80%;
    height: 100vh;
    opacity: .97;
    display: flex;
    justify-content: center;
    display: none;
    transition: all .4s;
}
.on{
    display: block;
}
.mainButton-ul{
    margin-top: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.mainButton-ul li a{
    text-decoration: none;
    color: var(--colorC); 
}
.mainButton-ul li a:hover{
    color: var(--colorB);
}
.on{
    display: block;
}
.nav-menu{
    
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    align-items: center;
    color: var(--colorC);
    font-weight: bold;
    margin-right: 40px;
}
.nav-menu li{
    margin: 6px;
    cursor: pointer;
}
.nav-menu li a{
    list-style: none;
    text-decoration: none;
    color: var(--colorC);
}

.nav-menu li a:hover{
    color: var(--colorB);
}
.text-pf{
    
    font-weight: 800;
    font-size: 1.5rem;
}
.container{
    background-color: var(--colorB);
}

section h2{
    font-size: 3.2rem;
    text-align: center;
    margin: 5px;
}

#img1, #img2, #img3, #img4{
    display: flex;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border-radius: 35px;
    border-bottom: 5px solid black;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    cursor: pointer;
}

#img1:hover{
    box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
    text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
    transition: all 0.3s ease 0s;
}
#img2:hover{
    box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
    text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
    transition: all 0.3s ease 0s;
}
#img3:hover{
    box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
    text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
    transition: all 0.3s ease 0s;
}

#img4:hover{
    box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
    text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
    transition: all 0.3s ease 0s;
}
img{
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
.aaa{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    
}
.bbb{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.bbb button{
    background-color: var(--colorC);
    color: black; 
    width: 200px;
    padding: 10px;
    border: 2px solid var(--colorA);
    border-radius: 15px;
    font-weight: 800;
}
.bbb button:hover{
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    transition: .3s;
}
#randomDogs{
    height: 500px;
    display: flex;
    flex-direction: column;
}
/* #randomDogs h2{
    color: black;
    margin: 25px;
} */
.getrandom{
    display: flex;
    margin: 20px auto;
    background: var(--colorA);
    border-bottom: 5px solid black;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 1.6rem;
    height: 82px;
    padding: 20px 20px;
    text-align: center;
    transition: all 0.2s ease 0s;
    width: 150px;
    font-weight: 700;
}
.getrandom:hover{
    background: #0096f7;
}
#uploadingMichi {
    height: 400px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4785ae;
    border-radius: 20px;
}
#uploadingMichi:hover{
    background-color: #2D5A79;
    transition: .6s;
}
#uploadingMichi h2{
    font-weight: 800;
}
#uploadingMichi h3{
    margin: 10px;
    font-weight: 700;
    font-size: 2.1rem;
}
#uploadingMichi img{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

#uploadingForm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#uploadingForm input{
    margin-top: 10px;
}
#uploadingForm button{
    background-color: var(--colorD);
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    margin: 2px 5px;
    cursor: pointer;
}
#uploadingForm button:hover{
    background-color: #CF4538;
}
.sect-favorites{
    font-size: 5.6rem;
    text-align: center;
}
#favoriteMichis{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    /* display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-auto-rows: auto; */
    background-image: url(https://previews.123rf.com/images/evgeniyam/evgeniyam1710/evgeniyam171000147/88063542-un-patr%C3%B3n-sin-fisuras-con-perros-de-dibujos-animados-sobre-fondo-azul-.jpg?fj=1);
    border-radius: 10px;
    border: 3px solid black;
    
}

#favoriteMichis img{
    border-radius: 10px;
    border: 4px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
#favoriteMichis article{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
#favoriteMichis article button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 2.6rem;
    color: white;
    background-color: var(--colorA);
    margin: 0 auto;
    /* position: absolute;
    margin-left: 415px;
    margin-top: 260px; */
    cursor: pointer;

}
#favoriteMichis article button:hover{
    background-color: var(--colorD);
    color: white;
    
}
.footer{
    background-color: var(--colorA);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer p{
    color: white;
    font-size: 1.6rem;
    text-align: center;
}
@media screen and (max-width: 1143px) {
    .portfolio{
        display: none;
    }
    
}

/*tablet*/

@media screen and (max-width: 1113px){
    

    .nav-menu{
        display: none;
    }

    .nav-menu li{
        margin: 26px;
        font-size: 2.8rem;
    }

    .header-mainButton {
        display: block;
    }

    .header-mainButton:hover{
        color: #0f1d27;
        transition: .4s;
    }
    
    .pages{
        display: none;
    }

    .header-title{
        font-size: 2.8rem;
        text-align: center;
        margin: 16px auto;
    }

    .navbar{
        display: flex;
        width: 80px;
        height: 80px;
        cursor: pointer;
        margin-left: 8px;
        display: flex;
        
    }

    .navbar:hover{
        background-color: #2D5A79;
    }

    .navbar img{
        width: 62px;
        height: 62px;
        margin-top: 8px;
        
    }
    
    #randomDogs{
        margin-bottom: 180px;
    }

    #img1, #img2, #img3, #img4{
        width: 320px;
        height: 320px;
    }
    .aaa{
        flex-wrap: wrap;
        gap: 50px; 
        
    }

    #uploadingMichi{
        margin-top: 550px;
        height: 400px;
        }

    #uploadingMichi h3{
        
        margin-left: 40px;
        }

    img{
    
        height: 260px;
        width: 260px;
            
        }


    .sect-favorites{
        font-size: 3.5rem;
    }

}


/*cel*/

@media screen and (max-width: 767px) {
    .aaa{
        align-items: center;
        
        
    }
    .bbb{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #img1, #img2, #img3, #img4{
        width: 240px;
        height: 240px;
    }


    img{
        width: 240px;
        height: 240px;
    }
    


    #uploadingMichi{
        margin-top: 400px;
    }

        
    }

    @media screen and (max-width: 639px){
        .logo{
            display: none;
        }
    } 
    
    @media screen and (max-width: 568px){
        #uploadingMichi{
            margin-top: 1100px;
        }
        #uploadingMichi h3{
            display: none;
        }
        #favoriteMichis{
            gap: 10px;
        }
        #uploadingMichi h2{
            font-size: 22px;

        }
        
    }

    @media screen and (max-width: 509px){
        #uploadingForm{
            width: 210px;
        }
        .header-title{
            font-size: 2.1rem !important;

        }
    }

    



    



